.header{
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    display: flex;
    padding: 3vh 5%;
    justify-content: space-between;
    align-items: center;
    background-color:#efede7;
    transition:box-shadow .5s;
}
.header__logo{
    color:rgba(12,53,87,255) ;
    transition: .3s ;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-weight: bold;
    font-size: 20px;
}
.header__linksw{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.header__linkw{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__link{
    text-transform: capitalize;
}
.header__icon{
    color:rgba(131,163,166,255) ;
    font-weight: bold;
    font-size: 20px;
}
.header__iconw1{
    display: none !important;
    cursor: pointer;
}
.header__iconw{
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: white;
}
.header__links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.link__rwd__icon{
    display: none;
}
.link__line{
    transition: .3s ;
    height: 3px;
    width: 0;
    background-color: rgba(30,53,87,255);
}
.header__linkw:hover .header__link{
    color: black !important;
}
.header__linkw:hover .link__line{
    width: 50% !important;
}
.callcon:hover .header__icon{
    color: white !important;
    cursor: pointer;
}
.header__menu{
    font-size: 22px;
    font-weight: bold;
}
.callcon:hover .header__iconw{
    background-color: black;
}
.header__icons{
    display: flex;
    gap: 1vw;
    align-items: center;
}

@media screen and (max-width:768px){
    .header{
        position: fixed;
        top: 85vh !important;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70vw;
        height: max-content;
        padding: 2vh 8vw;
        border-radius: 1000px;
    }
    .header__linksw{
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 3vh 3vw;
        display: grid;
        background-color: #efede7;
        width: 100vw;
        height: 33vh;
        grid-template-columns: repeat(3,max-content);
        gap: 3vh 2vw;
        border-radius: 3vw;
        align-items: center;
        justify-content: center;
        transition: .7s;
        top:-100%;
    }
    .link__rwd__icon:not(:nth-child(4)){
        font-size: 22px;
    }
    .linkiconw:nth-child(5){
        grid-column: 3/3;
    }
    .header__iconw1{
        display: block !important;
        display: grid !important;
        place-content: center !important;
    }
    .link__rwd__icon{
        display:block;
        font-size: 20px;
        font-weight: bold;
    }
    .header__icons{
        gap: 2vw;
    }
    .header__link{
        font-size: 14px;
    }
    .linkiconw{
        display: flex;  
        gap: 1vh;
        flex-direction: column;
        align-items: center;
    }
}
.callcon{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}
.header__iconw1:hover{
    background-color: black;
}
.header__iconw1:hover .header__menu{
    color: white;
}