.indicator{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height:3px;
    background-color: black;
}
@media (max-width:768px){
    .indicator{
        position: fixed;
        top: 0;
        left: 0;
    }
}